body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
}

.legend {
    flex: 0 0 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    overflow-y: auto;
	background-color: #1A1B1F;
}

.map-container {
    flex: 1;
    position: relative;
    overflow: hidden;
	background-color: #1f1f1f;	
}

#map {
    width: 100%;
    height: auto; /* Bildhöhe passt sich proportional zur Breite an */
}
.map-icon {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
}

.iron {
    background-image: url('images/iron.png');
}

.clay {
    background-image: url('images/clay.png');
}

.grass {
    background-image: url('images/grass.png');
}

.bamboo {
    background-image: url('images/bamboo.png');
}

.chrysanthemums {
    background-image: url('images/chrysanthemums.png');
}

.legend button {
    width: 150px; /* Breite auf 150px festlegen */
    height: 35px; /* Höhe auf 35px festlegen */
    background-color: #1A1B1F;
    color: white;
    border: none;
    cursor: pointer;
	 border: 2px solid #78818a;
    transition: background-color 0.3s ease;
	text-align: left; /* Text linksbündig ausrichten */
    padding: 10px; /* Padding hinzufügen */
    margin-left: 30px; /* Verschiebung um 30px nach rechts */
}

.legend button:hover {
    background-color: #0f0f0f;
}
